body {
    height: 100vh;
    width: 100%;
    background-color: #9EA3B0;
    font-family: "Times New Roman";
    color: #E4C3AD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0D1F2D;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

#chatbox {
    height: 100%;
}

#messageForm {
    display: flex;
    justify-content: space-around;
}

#messageInput {
    width: 80%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 5px;
}

#messageInput:focus {
    outline: none;
}

#messageForm > button {
    background-color: transparent;
    border: none;
}

#messageForm > button > svg {
    height: 35px;
    width: 35px;
}

#chatbox {
    color: black;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.message-box .message-box-name {
    font-size: 0.9em;
}

.message-box {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.your-message-box {
    align-items: flex-end;
}

.stranger-message-box {
    align-items: flex-start;
}

.message-box .message-box-chat {
    color: white;
    background-color: black;
    width: content;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    position: relative;
    max-width: 70%;
}

.message-box .your-message-box-chat::before {
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: black;
    border-radius: 50%;
}

.message-box .stranger-message-box-chat::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 100%;
    background-color: black;
    border-radius: 50%;
}

.message-box-system-message {
    text-align: center;
}